@import '_lib/header.scss';








::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.wrap {
	display: flex;

	.rlist {
		flex: 1;
	}
}
.sel-tabs {
	text-align:center;
	padding: 0 18px;
	.was {
		font-size: 0;
	}

	a {
		font-size: 24px;
		// min-width: 25%;
		position: relative;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #777;
		margin-bottom: 20px;
		padding-top: 60px;
		&:before {
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			background: #b8b8b8;
			border-radius: 100%;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			top: 36px;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 42%;
			width: 1px;
			background: #bbb;
			left: 50%;
			margin-left: -1px;
			bottom: -45px;
		}
		
		&.active {
			color: #222;
		}
		&.active:before {
			background: red;
			transform: scale(1.3);
		}
		&:last-child:after{
			height: 0;
		}
	}

}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.rlist {
	padding-right: 8px;
	.w {
		font-size: 0;
		padding-top: 40px;
		// width: 100%;
		li {
			display: inline-block;
			width: 33.333%;
			white-space: nowrap;
			padding: 8px;
		}
		a {
			display: inline-block;
			width: 100%;
			font-size: 20px;
			text-align: center;
			border: 1px solid #ddd;
			color: #727272;
			padding: 9px 0;
			white-space: nowrap;
			overflow: hidden;
		}

		.active a{
			color: red;
			border-color: red;
		}
	}

}